<div class="layout-navbar">
    <div class="navbar">
        <div class="navbar-header">
            <h2 class="navbar-title">CPME Réunion</h2>
        </div>
        <div class="navbar-content">
            <a href="/accueil" class="navbar-link <% if (title === 'Accueil') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/accueil.png" class="navbar-icon">
                <h3 class="navbar-text">Accueil</h3>
            </a>
            <a href="/adherents" class="navbar-link <% if (title === 'Adhérents') { %>
             <%= 'link-selected' %>
            <% } %>"><img src="img/adherents.png" class="navbar-icon">
                <h3 class="navbar-text">Adhérents</h3>
            </a>
            <a href="/mandats" class="navbar-link <% if (title === 'Mandats') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/mandats.png" class="navbar-icon">
                <h3 class="navbar-text">Mandats</h3>
            </a>
            <a href="/formulaires" class="navbar-link <% if (title === 'Formulaires') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/formulaires.png" class="navbar-icon">
                <h3 class="navbar-text">Formulaires</h3>
            </a>
            <a href="/fiches" class="navbar-link <% if (title === 'Fiches temps') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/temps.png" class="navbar-icon">
                <h3 class="navbar-text">Fiches temps</h3>
            </a>

        </div>
        <div class="navbar-footer">
            <div class="profil">
                <div class="profil-icon">GL</div>
                <h4 class="profil-label">Gaetan LAVIT</h4>
            </div>
        </div>
    </div>
</div>