<div class="layout-navbar">
    <div class="navbar">
        <div class="navbar-header">
            <a href="/accueil" class="navbar-title no-decoration">CPME Réunion</a>
        </div>
        <div class="navbar-content">
            <a href="/accueil" class="navbar-link <% if (title === 'Accueil') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/home.png" class="navbar-icon">
                   <h3 class="navbar-text">Accueil</h3>
               </a>
            <a href="/adherents" class="navbar-link <% if (title === 'Adhérents') { %>
             <%= 'link-selected' %>
            <% } %>"><img src="img/adherents.png" class="navbar-icon">
                <h3 class="navbar-text">Adhérents</h3>
            </a>
            <a href="/mandats" class="navbar-link <% if (title === 'Mandats') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/mandat.png" class="navbar-icon">
                <h3 class="navbar-text">Mandats</h3>
            </a>
            <a href="/portraits" class="navbar-link <% if (title === 'Portraits') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/portrait.png" class="navbar-icon">
                <h3 class="navbar-text">Portraits</h3>
            </a>
            <a href="/formulaires" class="navbar-link <% if (title === 'Formulaires') { %>
                <%= 'link-selected' %>
               <% } %>"><img src="img/sondage.png" class="navbar-icon">
                <h3 class="navbar-text">Sondages</h3>
            </a>


        </div>
        <div class="navbar-footer">
            <div class="reduce"><p class="reduce-text">Réduire le menu</p></div>
        </div>
    </div>
</div>