<%- include('includes/header.ejs') %>


    <body>
        <div class="layout">

            <div class="layout-header">
                <div class="flex">
                    <div class="back" onclick="history.back()">
                        <img src="img/back.png" width="12px" height="12px" alt="retour">
                    </div>
                    <h1 class="header-title">Liste des adhérents</h1>

                </div>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <div class="listing">
                        <div class="listing-search">
                            <div class="searchbox">
                                <input class="searchbox-input" type="text" placeholder="Recherche"
                                    onkeyup="searchAdherent()" id="search"></input>
                                <div onclick="searchAdherent()" class="searchbox-action"><img width="20px" height="20px"
                                        src="/img/search.png" alt="search"></div>
                            </div>
                        </div>
                        <div class="listing-action">
                            <a href="/nouvel-adherent" class="cta">Nouvel adhérent</a>
                        </div>
                        <div class="listing-filter">
                            <div class="filter">
                                <div class="filter-item filter-selected" onclick="changeFilter(0)">Tous</div>
                                <div class="filter-item" onclick="changeFilter(1)">Artisanat</div>
                                <div class="filter-item" onclick="changeFilter(2)">Commerce</div>
                                <div class="filter-item" onclick="changeFilter(3)">Industrie</div>
                                <div class="filter-item" onclick="changeFilter(4)">Services</div>
                            </div>

                        </div>
                        <div class="listing-table">
<div class="flex">
    <% adherents.forEach(adherent => { %>
        <div class="adherent-card">
            <h3 class="adherent-card-title js-entreprise"><%= adherent.entreprise %></h3>
            <h5 class="adherent-card-subtitle js-section"><%= adherent.section %></h5>
            <p class="adherent-card-email"><%= adherent.email %></p>
            <p class="adherent-card-identifiant"><%= adherent.identifiant %></p>
            <a href="/adherent?id=<%= adherent.id %>" class="card-edit"><img src="img/edit.png" width="12px" height="12px" alt="edit"></a>
            <div onclick="deleteAdherent('<%= adherent.id %>')" class="card-delete"><img src="img/delete.png" width="12px" height="12px" alt="delete"></div>
        </div>
    <% }) %>
</div>

                    

                        </div>
                    </div>

                </div>
        </div>

    </body>
    <script>
        function deleteAdherent(id) {
            if (confirm('Voulez-vous vraiment supprimer cette adhérent ?')) {
                fetch(`http://localhost:7070/api/adherents/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }


        function changeFilter(id) {
            document.getElementsByClassName('filter-selected')[0].classList.remove('filter-selected');
            document.getElementsByClassName('filter-item')[id].classList.add('filter-selected');
            searchAdherent();
        }

        function searchAdherent() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('table-row');
            let length = item.length;
            let filter = document.getElementsByClassName('filter-selected')[0].innerHTML.toLowerCase();
            for (let i = 0; i < length; i++) {
                let entreprise = item[i].getElementsByClassName('js-entreprise')[0].innerHTML.toLowerCase();
                let section = item[i].getElementsByClassName('js-section')[0].innerHTML.toLowerCase();
                if (filter === "tous" || filter === section.replace(/\s/g, '')) {
                    if (entreprise.includes(query)) {
                        item[i].style.display = 'table-row';
                        console.log('item matched');
                    }
                    else {
                        item[i].style.display = 'none';
                        console.log('item hidden by query');
                    }
                } else {
                    item[i].style.display = 'none';
                    console.log('item hidden by section');
                }

            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>