<%- include('includes/header.ejs') %>


    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Profil adhérent</h1>
            </div>
            <%- include('includes/navbar.ejs') %>
                    <div class="layout-content">

                        <div class="cta-container">
                            <% if (adherent[0].parution==0) { %>
                                <div class="cta" onclick="enableAnnuaire('<%= adherent[0].id_annuaire %>')">Activer la
                                    parution</div>
                                <% }else {%>
                                    <div class="ctd" onclick="disableAnnuaire('<%= adherent[0].id_annuaire %>')">
                                        Désactiver la parution</div>

                                    <%} %>
                        </div>

                        <div class="container">
                            <div class="container-header">Informations générales</div>
                            <div class="container-row"><span class="row-label">Raison Sociale : </span>
                                <%= adherent[0].entreprise %>
                            </div>
                            <div class="container-row"><span class="row-label">Section : </span>
                                <%= adherent[0].section %>
                            </div>
                            <div class="container-row"><span class="row-label">Adresse : </span>
                                <%= adherent[0].adresse %>
                            </div>
                            <div class="container-row"><span class="row-label">Représentant : </span>
                                <%= adherent[0].prenom %>
                                    <%= adherent[0].nom %>
                            </div>
                            <div class="container-row"><span class="row-label">Email : </span>
                                <%= adherent[0].email %>
                            </div>
                            <div class="container-row"><span class="row-label">Téléphone : </span>
                                <%= adherent[0].telephone %>
                            </div>
                            <div class="container-row"><span class="row-label">Identifiant : </span>
                                <%= adherent[0].identifiant %>
                            </div>
                            <div class="container-row"><span class="row-label">Site web : </span>
                                <%= adherent[0].siteweb %>
                            </div>

                            <div class="container-action"><a href="/edit-adherent?id=<%= adherent[0].id %>"
                                    class="container-cta">Modifier</div></a>
                        </div>
                        <div class="container">
                            <div class="container-header">Parution dans l'annuaire</div>
                            <div class="container-row"><span class="row-label">Logo : </span><a
                                    href="<%= adherent[0].logo %>">
                                    <%= adherent[0].logo %>
                                </a></div>
                            <div class="container-row"><span class="row-label">Activité : </span>
                                <%= adherent[0].activite %>
                            </div>
                            <div class="container-row"><span class="row-label">Titre du contact : </span>
                                <%= adherent[0].contact_titre %>
                            </div>
                            <div class="container-row"><span class="row-label">Nom du contact : </span>
                                <%= adherent[0].contact_nom %>
                            </div>
                            <div class="container-row"><span class="row-label">Prénom du contact : </span>
                                <%= adherent[0].contact_prenom %>
                            </div>
                            <div class="container-row"><span class="row-label">Email du contact : </span>
                                <%= adherent[0].contact_email %>
                            </div>
                            <div class="container-row"><span class="row-label">Téléphone du contact : </span>
                                <%= adherent[0].contact_telephone %>
                            </div>
                            <div class="container-row"><span class="row-label">Parution : </span>
                                <%= adherent[0].parution===1 ? 'activée' : 'desactivée' %>
                            </div>
                            <div class="container-action"><a href="/edit-annuaire?id=<%= adherent[0].id %>"
                                    class="container-cta">Modifier</div></a>
                        </div>
                    </div>
        </div>

    </body>
    <script>
        function enableAdherent(id) {
            if (confirm('Voulez-vous vraiment activer cette adhérent ?')) {
                fetch(`http://localhost:7070/api/adherents/enable/${id}`, {
                    method: "PUT",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }
        function disableAdherent(id) {
            if (confirm('Voulez-vous vraiment désactiver cette adhérent ?')) {
                fetch(`http://localhost:7070/api/adherents/disable/${id}`, {
                    method: "PUT",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }
        function enableAnnuaire(id) {
            if (confirm('Voulez-vous vraiment activer cette annuaire ?')) {
                fetch(`http://localhost:7070/api/annuaires/enable/${id}`, {
                    method: "PUT",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }
        function disableAnnuaire(id) {
            if (confirm('Voulez-vous vraiment désactiver cette annuaire ?')) {
                fetch(`http://localhost:7070/api/annuaires/disable/${id}`, {
                    method: "PUT",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>