<%- include('includes/header.ejs') %>


    <body>
        <%- include('includes/message.ejs') %>


        <div class="layout">

            <div class="layout-header">
                <div class="flex">

                    <h1 class="header-title">Liste des adhérents</h1>

                </div>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <div class="listing">
                        <div class="listing-search">
                            <div class="searchbox">
                                <input class="searchbox-input" type="text" placeholder="Recherche"
                                    onkeyup="searchAdherent()" id="search"></input>
                                <div onclick="searchAdherent()" class="searchbox-action"><img width="20px" height="20px"
                                        src="/img/search.png" alt="search"></div>
                            </div>
                        </div>
                        <div class="listing-action">
                            <a href="/nouvel-adherent" class="cta">Nouvel adhérent</a>
                        </div>
                        <div class="listing-filter">
                            <div class="filter">
                                <div class="filter-item filter-selected" onclick="changeFilter(0)">Tous</div>
                                <div class="filter-item" onclick="changeFilter(1)">Artisanat</div>
                                <div class="filter-item" onclick="changeFilter(2)">Commerce</div>
                                <div class="filter-item" onclick="changeFilter(3)">Industrie</div>
                                <div class="filter-item" onclick="changeFilter(4)">Services</div>
                            </div>

                        </div>
                        <div class="listing-table">
                            <div class="flex">
                                <% adherents.forEach(adherent=> { %>
                                    <div class="adherent card">
                                        <div class="card-header"></div>
                                        <div class="card-figure">
                                            <% if (adherent.logo !=='' ) { %>
                                                <img class="card-image" src="upload/<%= adherent.logo %>">
                                                <% }else{ %>
                                                    <img class="add-photo" width="24px" height="24px"
                                                        src="img/no-photo.png">
                                                    <% } %>

                                        </div>
                                        <div class="card-title js-entreprise">
                                            <%= adherent.entreprise %>
                                        </div>
                                        <div class="card-subtitle js-section">
                                            <%= adherent.section %>
                                        </div>
                                        <a href="/adherent?id=<%= adherent.id %>" class="no-decoration card-edit">
                                            <img src="img/edit.png" width="12px" height="12px" alt="edit">
                                        </a>
                                        <div class="card-delete" onclick="deleteAdherent('<%= adherent.id %>')">
                                            <img src="img/delete.png" width="12px" height="12px" alt="delete">
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                            



                        </div>
                    </div>

                </div>
        </div>

    </body>
    <script>

function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }

        function deleteAdherent(id) {
            if (confirm('Voulez-vous vraiment supprimer cette adhérent ?')) {
                fetch(`http://localhost:7070/api/adherents/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }


        function changeFilter(id) {
            document.getElementsByClassName('filter-selected')[0].classList.remove('filter-selected');
            document.getElementsByClassName('filter-item')[id].classList.add('filter-selected');
            searchAdherent();
        }

        function searchAdherent() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('adherent');
            let length = item.length;
            let filter = document.getElementsByClassName('filter-selected')[0].innerHTML.toLowerCase();
            for (let i = 0; i < length; i++) {
                let entreprise = item[i].getElementsByClassName('js-entreprise')[0].innerHTML.toLowerCase();
                let section = item[i].getElementsByClassName('js-section')[0].innerHTML.toLowerCase();
                if (filter === "tous" || filter === section.replace(/\s/g, '')) {
                    if (entreprise.includes(query)) {
                        item[i].style.display = 'table-row';
                        console.log('item matched');
                    }
                    else {
                        item[i].style.display = 'none';
                        console.log('item hidden by query');
                    }
                } else {
                    item[i].style.display = 'none';
                    console.log('item hidden by section');
                }

            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>