<%- include('includes/header.ejs') %>


<body>
    <div class="layout">

        <div class="layout-header">
            <h1 class="header-title">Liste des adhérents</h1>
        </div>
        <%- include('includes/navbar.ejs') %>

        <div class="layout-content">
            <div class="listing">
                <div class="listing-search">
                    <div class="searchbox">
                        <input class="searchbox-input" type="text" placeholder="Recherche"></input>
                        <div class="searchbox-action"><img width="20px" height="20px" src="/img/search.png"
                                alt="search"></div>
                    </div>
                </div>
                <div class="listing-action">
                    <div class="cta">Nouvel adhérent</div>
                </div>
                <div class="listing-filter">
                    <div class="filter">
                        <div class="filter-item filter-selected">Tous</div>
                        <div class="filter-item">Artisanat</div>
                        <div class="filter-item">Commerce</div>
                        <div class="filter-item">Industrie</div>
                        <div class="filter-item">Services</div>
                    </div>

                </div>
                <div class="listing-table">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <td class="table-cell" width="25%">Raison Sociale</td>
                                <td class="table-cell" width="10%">Section</td>
                                <td class="table-cell" width="15%">Email</td>
                                <td class="table-cell" width="10%">Identifiant</td>
                                <td class="table-cell" width="10%">Statut</td>
                                <td class="table-cell" width="20%">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% adherents.forEach(adherent=> { %>
                                <tr class="table-row">
                                    <td class="table-cell semibold">
                                        <%= adherent.entreprise %>
                                    </td>
                                    <td class="table-cell">
                                        <%= adherent.section %>
                                    </td>
                                    <td class="table-cell">
                                        <%= adherent.email %>
                                    </td>
                                    <td class="table-cell">
                                        <%= adherent.identifiant %>
                                    </td>
                                    <td class="table-cell">
                                        <%= adherent.status==1 ? "actif" : "inactif" %>
                                    </td>
                                    <td class="table-cell table-actions">
                                        <div name="" class="table-icon" onclick="seeAdherent('<%= adherent.id %>')"><img
                                                width="12px" height="12px" src="/img/see.png" alt="see">
                                        </div>
                                        <div class="table-icon" onclick="editAdherent('<%= adherent.id %>')"><img
                                                width="12px" height="12px" src="/img/edit.png" alt="edit">
                                        </div>
                                        <div class="table-icon" onclick="deleteAdherent('<%= adherent.id %>')"><img
                                                width="12px" height="12px" src="/img/remove.png" alt="remove"></div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>

</body>
<script>
    function deleteAdherent(id) {
        fetch(`http://localhost:7070/api/adherents/${id}`, {
            method: "DELETE",
            headers: {
                'Content-type': 'application/json'
            }
        })
        document.location.reload();
    }
</script>
<script src="/js/index.js"></script>

</html>