<%- include('includes/header.ejs') %>

    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Modifier les informations de parution</h1>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <form class="form-flex" onsubmit="editAnnuaire(event)" method="post">
                        <div class="form-group">
                            <label for="titre" class="form-label">Titre du contact</label>
                            <input type="text" id="titre" class="form-input" placeholder="Réponse"
                                value="<%= annuaire[0].contact_titre %>">
                        </div>
                        <div class="form-group">
                            <label for="nom" class="form-label">Nom du contact</label>
                            <input type="text" id="nom" class="form-input" placeholder="Réponse"
                                value="<%= annuaire[0].contact_nom %>">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="form-label">Prénom du contact</label>
                            <input type="text" id="prenom" class="form-input" placeholder="Réponse"
                                value="<%= annuaire[0].contact_prenom %>">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Adresse E-mail du contact</label>
                            <input type="text" id="email" class="form-input" placeholder="Réponse"
                                value="<%= annuaire[0].contact_email %>">
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="form-label">Numéro de téléphone du contact</label>
                            <input type="text" id="telephone" class="form-input" placeholder="Réponse"
                                value="<%= annuaire[0].contact_telephone %>">
                        </div>
                        <div class="form-action">
                            <input type="submit" class="cta" value="Modifier un annuaire">
                        </div>
                    </form>
                </div>
        </div>
    </body>
    <script>
        function editAnnuaire(event) {
            event.preventDefault();
            let id = '<%= annuaire[0].id_annuaire %>';
            let annuaire = {
                contact_titre: document.getElementById('titre').value,
                contact_nom: document.getElementById('nom').value,
                contact_prenom: document.getElementById('prenom').value,
                contact_email: document.getElementById('email').value,
                contact_telephone: document.getElementById('telephone').value,
                parution: 1
            }
            fetch(`http://localhost:7070/api/annuaires/${id}`, {
                method: "PUT",
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(annuaire)
            })
                .then(res => {
                    console.log("Request complete! response:", res);
                    alert('Annuaire modifié, vous allez être redirigé vers la liste des adhérents')
                    document.location.assign(`/adherents`)
                });
        }

    </script>
    <script src="/js/index.js"></script>

    </html>