<%- include('includes/header.ejs') %>

    <body>
        <%- include('includes/message.ejs') %>
        <div class="layout">
            <%- include('includes/navbar.ejs') %>

                <div class="layout-header">
                    <h1 class="header-title">Liste des mandats</h1>
                </div>
                <div class="layout-content">
                    <div class="listing">
                        <div class="listing-search">
                            <div class="searchbox">
                                <input class="searchbox-input" type="text" placeholder="Recherche"
                                    onkeyup="searchMandat()" id="search"></input>
                                <div onclick="searchMandat()" class="searchbox-action"><img width="20px" height="20px"
                                        src="/img/search.png" alt="search"></div>
                            </div>
                        </div>
                        <div class="listing-action">
                            <a href="/nouveau-mandat" class="cta">Nouveau mandat</a>
                        </div>
                        <div class="listing-filter">
                            <div class="filter">
                                <div class="filter-item filter-selected" onclick="changeFilter(0)">Tous</div>
                                <div class="filter-item" onclick="changeFilter(1)">Artisanat</div>
                                <div class="filter-item" onclick="changeFilter(2)">EFJ</div>
                                <div class="filter-item" onclick="changeFilter(3)">ENI</div>
                                <div class="filter-item" onclick="changeFilter(4)">Ouverture-Regionale</div>
                                <div class="filter-item" onclick="changeFilter(5)">PE-AT</div>
                                <div class="filter-item" onclick="changeFilter(6)">Social</div>
                            </div>

                        </div>
                        <div class="listing-table">
                            <div class="flex">
                                <% mandats.forEach(mandat=> { %>
                                    <div class="mandat card">
                                        <div class="card-header"></div>
                                        <div class="card-figure">
                                            <% if (mandat.logo !=='' ) { %>
                                                <img class="card-image" src="upload/<%= mandat.logo %>">
                                                <% }else{ %>
                                                    <img class="add-photo" width="24px" height="24px"
                                                        src="img/no-photo.png">
                                                    <% } %>

                                        </div>
                                        <div class="card-title js-label">
                                            <%= mandat.label %>
                                        </div>
                                        <div class="card-subtitle js-categorie">
                                            <%= mandat.categorie %> 
                                        </div>
                                        <a href="/mandat?id=<%= mandat.id %>" class="no-decoration card-edit">
                                            <img src="img/edit.png" width="12px" height="12px" alt="edit">
                                        </a>
                                        <div class="card-delete" onclick="deleteMandat('<%= mandat.id %>')">
                                            <img src="img/delete.png" width="12px" height="12px" alt="delete">
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </div>
                    </div>

                </div>
        </div>

    </body>

    <script>

        function deleteMandat(id) {
            if (confirm('Voulez-vous vraiment supprimer ce mandat ?')) {
                fetch(`http://localhost:7070/api/mandats/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.assign('/mandats');
            }
        }

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }


        function changeFilter(id) {
            document.getElementsByClassName('filter-selected')[0].classList.remove('filter-selected');
            document.getElementsByClassName('filter-item')[id].classList.add('filter-selected');
            searchMandat();
        }

        function searchMandat() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('mandat');
            let length = item.length;
            let filter = document.getElementsByClassName('filter-selected')[0].innerHTML.toLowerCase();
            for (let i = 0; i < length; i++) {
                let label = item[i].getElementsByClassName('js-label')[0].innerHTML.toLowerCase();
                let categorie = item[i].getElementsByClassName('js-categorie')[0].innerHTML.toLowerCase();
                if (filter === "tous" || filter === categorie.replace(/\s/g, '')) {
                    if (label.includes(query)) {
                        item[i].style.display = 'table-row';
                        console.log('item matched');
                    }
                    else {
                        item[i].style.display = 'none';
                        console.log('item hidden by query');
                    }
                } else {
                    item[i].style.display = 'none';
                    console.log('item hidden by section');
                }

            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>