<%- include('includes/header.ejs') %>

    <body>
        <%- include('includes/message.ejs') %>
                <div class="layout">
                    <%- include('includes/navbar.ejs') %>

                        <div class="layout-header">
                            <h1 class="header-title">Les portraits de mandataires</h1>
                        </div>
                        <div class="layout-content">
                            <div class="flex-between">
                                <div class="searchbox">
                                    <input class="searchbox-input" type="text" placeholder="Recherche"
                                        onkeyup="searchPortrait()" id="search"></input>
                                    <div onclick="searchPortrait()" class="searchbox-action"><img width="20px"
                                            height="20px" src="/img/search.png" alt="search"></div>
                                </div>
                                <a href="/nouveau-portrait" class="no-decoration">
                                    <div class="cta">Nouveau portrait</div>
                                </a>

                            </div>
                            <div class="flex">
                                <% portraits.forEach(portrait=> { %>
                                    <div class="portrait card">
                                        <div class="card-header"></div>
                                        <div class="card-figure">
                                            <% if (portrait.image !=='' ) { %>
                                                <img class="card-image" src="upload/<%= portrait.image %>">
                                                <% }else{ %>
                                                    <img class="add-photo" width="24px" height="24px"
                                                        src="img/no-photo.png">
                                                    <% } %>

                                        </div>
                                        <div class="card-title js-mandataire">
                                            <%= portrait.prenom %>
                                                <%= portrait.nom %>
                                        </div>
                                        <div class="card-subtitle">
                                            <%= representations.filter(el=> el.id_portrait === portrait.id).length %>
                                                mandats
                                        </div>
                                        <a href="/portrait?id=<%= portrait.id %>" class="no-decoration card-edit">
                                            <img src="img/edit.png" width="12px" height="12px" alt="edit">
                                        </a>
                                        <div class="card-delete" onclick="deletePortrait('<%= portrait.id %>')">
                                            <img src="img/delete.png" width="12px" height="12px" alt="delete">
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </div>
                </div>

    </body>

    <script>

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }

        function deletePortrait(id) {
            if (confirm('Voulez-vous vraiment supprimer ce portrait ?')) {
                fetch(`http://localhost:7070/api/portraits/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.assign('/portraits');
            }
        }

        function searchPortrait() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('portrait');
            let length = item.length;
            for (let i = 0; i < length; i++) {
                let mandataire = item[i].getElementsByClassName('js-mandataire')[0].innerHTML.toLowerCase();
                if (mandataire.includes(query)) {
                    item[i].style.display = 'table-row';
                    console.log('item matched');
                }
                else {
                    item[i].style.display = 'none';
                    console.log('item hidden by query');
                }
            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>