<%- include('includes/header.ejs') %>


    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Portrait</h1>
            </div>
            <%- include('includes/navbar.ejs') %>
                <div class="layout-content">
                    <div class="ctd" onclick="deletePortrait('<%= portrait[0].id %>')">Supprimer le portrait</div>
                    <div class="container">
                        <div class="container-header">Informations générales</div>
                        <div class="container-row">
                            <% if (portrait[0].image !=='' ) { %>
                                <img width="128px" height="128px" class="row-image" src="upload/<%= portrait[0].image %>">

                                <% } else {%>
                                    <div class="empty-image">
                                        <img class="add-photo" width="64px" height="64px" src="img/no-photo.png">
                                    </div>
<%}%>

                        </div>
                        <div class="container-row">
                            <span class="row-label">
                                <%= portrait[0].prenom %>
                                    <%= portrait[0].nom %>
                            </span>

                        </div>
                        <div class="container-row">
                            <div class="row-label">Mandats : <%= representations.length %>
                            </div>
                        </div>
                        <div class="container-action"><a href="/edit-portrait?id=<%= portrait[0].id %>"
                                class="container-cta">Modifier</div></a>
                    </div>
                    
                    <div class="container">
                        <div class="container-header">Mandats</div>
                        <% if (representations.length > 0) { %>
                            <% representations.forEach(representation=> { %>
                                <div class="container-item">
                                    <p class="row-label">
                                        <%= mandats.find(mandat=> mandat.id ===
                                            representation.id_mandat).label %> (<%= representation.titre %>)
                                    </p>
                                    <div onclick="deleteRepresentation('<%= representation.id %>')" class="item-delete">
                                        <img src="img/delete.png" width="12px" height="12px" alt="supprimer">
                                    </div>
                                </div>
                                <% }) %>
                        <% }else {%>
                            <div class="container-row">Ce portrait est assigné à aucun mandat</div>
                        <%} %>
                        
                                <div class="container-action">
                                    <div class="container-cta" onclick="showModal()">Lier un mandat</div>
                                </div>
                    </div>
                </div>
        </div>
        <div id="modal">
            <h6 id="modal-title">Assignation</h6>
            <div id="modal-content">
                <label class="form-label" for="titre">Rôle</label>
                <input style="margin-bottom:1em" type="text" id="titre" placeholder="Rôle" class="form-input">
                <select class="form-select" id="mandat">
                    <option value="null">Choisir un mandat</option>
                    <% mandats.forEach(mandat=> { %>
                        <option value="<%= mandat.id %> ">
                            <%= mandat.label %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div class="flex-between">
                <div id="modal-close" onclick="closeModal()">Annuler</div>
                <div id="modal-submit" onclick="addRepresentation()">Confirmer</div>
            </div>

        </div>
    </body>
    <script>

        function deletePortrait(id) {
            if (confirm('Voulez-vous vraiment supprimer ce portrait ?')) {
                fetch(`http://localhost:7070/api/portraits/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.assign('/portraits');
            }
        }

        function addRepresentation() {
            let representation = {
                id_mandat: document.getElementById('mandat').value,
                id_portrait: '<%= portrait[0].id %>',
                titre: document.getElementById('titre').value,
            }
            fetch(`http://localhost:7070/api/representations/`, {
                method: "POST",
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(representation)
            })
                .then(res => {
                    console.log("Représentation ajouté : ", res);
                    alert('Représentation ajouté')
                    document.location.reload();
                });
        }

        function deleteRepresentation(id) {
            if (confirm('Voulez-vous vraiment supprimer cette représentation ?')) {
                fetch(`http://localhost:7070/api/representations/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }

        function showModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "block";
        }

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }
    </script>
    <script src="/js/index.js"></script>

    </html>