<%- include('includes/header.ejs') %>

    <body>
        <div class="layout">
            <%- include('includes/navbar.ejs') %>

                <div class="layout-header">
                    <h1 class="header-title">Nos mandataires</h1>
                </div>
                <div class="layout-content">
                    <div class="flex-between">
                        <div class="searchbox">
                            <input class="searchbox-input" type="text" placeholder="Recherche"
                                onkeyup="searchPortrait()" id="search"></input>
                            <div onclick="searchPortrait()" class="searchbox-action"><img width="20px" height="20px"
                                    src="/img/search.png" alt="search"></div>
                        </div>
                    <a href="/nouveau-portrait" class="no-decoration"><div class="cta">Nouveau portrait</div></a>

                    </div>
                    
                    <div class="flex">
                        <% portraits.forEach(portrait => { %>
                            <div class="card portrait">
                                <div class="card-figure">
                                    <img class="card-image" src="<%= portrait.image %>" alt="portrait">
                                </div>
                                <div class="card-title js-mandataire"><%= portrait.prenom %> <%= portrait.nom %></div>
                                <div class="card-subtitle"><%= 'count' %> mandats</div>
                                <a href="/edit-portrait?id=<%= portrait.id %>" class="no-decoration"><div class="card-action">Modifier</div></a>
                                <div class="card-top" onclick="deletePortrait('<%= portrait.id %>')"><img width="12px" height="12px" src="/img/remove.png" alt="remove"></div>
                            </div>
                        <% }) %>

                    </div>
                </div>
        </div>

    </body>

    <script>
function deletePortrait(id) {
            if (confirm('Voulez-vous vraiment supprimer ce portrait ?')) {
                fetch(`http://localhost:7070/api/portraits/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                document.location.reload();
            }
        }

        function searchPortrait() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('portrait');
            let length = item.length;
            for (let i = 0; i < length; i++) {
                let mandataire = item[i].getElementsByClassName('js-mandataire')[0].innerHTML.toLowerCase();
                    if (mandataire.includes(query)) {
                        item[i].style.display = 'table-row';
                        console.log('item matched');
                    }
                    else {
                        item[i].style.display = 'none';
                        console.log('item hidden by query');
                    }
                }
            }
    </script>
    <script src="/js/index.js"></script>

    </html>